/***********************************************
*****   default style
        @정서령
********************************************/

@font-face {
    font-family: 'Pretendard-Regular';
    font-weight: 300 400 500 600 700 800 900;
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-style: normal;
}

:root {
    --borderlight: #dfe4eb;
    --fontblack: #333333;
    --darkblack: #222222;
    --kurlypurple: #672092;
}


body {
    line-height: 1;
}

/* 하얀바탕 */
.w-full {
    background-color: white;
    padding: 16px;
    border-radius: 15px;
    margin: 5px;
    align-items: center;


}

/* 회색바탕 */
.g-full {
    background-color: #F2F5F8;
}

/* 검정색 글자 */
.cart-layout p,
.cart-layout h3,
.c-layout button {
    font-family: 'Pretendard-Regular';
    color: #333333;
    letter-spacing: -0.5px;
}

.h3,
p,
.f16 {
    font-size: 16px;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f18 {
    font-size: 18px;
    font-weight: 600;
}
.f24 {
    font-size: 24px;
}

.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.center {
    align-items: center;
}

.margin1200 {
    margin: 12px 0 0;
}

.margin00016 {
    margin: 0 0 0 16px;
}

.checkbox {
    width: 21px;
    height: 21px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    /* 체크박스 정렬 */
    cursor: pointer;
}

.checkbox:active {
    background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyMCcgaGVpZ2h0PScyMCcgdmlld0JveD0nMCAwIDIwIDIwJyBmaWxsPSdub25lJz48cGF0aCBkPSdNMTUuNzA3IDcuNzA3MUw4LjY4NDA1IDE0LjczMDlMNC4yOTI3MiAxMC4zMzg5TDUuNzA3MDQgOC45MjQ4M0w4LjY4NDA3IDExLjkwMjNMMTQuMjkyNyA2LjI5Mjk3TDE1LjcwNyA3LjcwNzFaJyBmaWxsPScjRjJGNUY4Jy8+PC9zdmc+');
    // width: 20px;
    // height: 20px;
    border-width: 2px;
    border-style: solid;
    background-color: #222222;
    border-color: #222222;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 4px;
    padding: 0;

    cursor: pointer;
}

/* 주소 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M15.707 7.7071L8.68405 14.7309L4.29272 10.3389L5.70704 8.92483L8.68407 11.9023L14.2927 6.29297L15.707 7.7071Z" fill="#F2F5F8"/></svg> */

.w-btn {
    font-size: 14px;
    background-color: white;
    color: #222222;
    border-width: 1px;
    border-style: solid;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    padding: 5px 12px 5px 12px;
    font-weight: 600;
    border-color: #dfe4eb;
    height: 30px;
    /* 버튼 높이 고정 */
}

.order-btn {
    background-color: var(--kurlypurple);
    padding: 24px;
    width: 100%;
    align-items: center;
    border-radius: 12px;
    color: white;
}

/*****************************
    cart
    @정서령
*********************************/

.cart-layout {
    padding: 0 0 80px;
}

.cart-title {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    padding: 50px 0 48px;

}

.cart-header {
    display: flex;
    justify-content: space-between;
}



/* grid section */

.flex {
    display: flex;
}

.cart-content {
    width: 1050px;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    margin: 0 auto;
}


.cart-left-side {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    margin-left: 40px;
}


.cart-right-side {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    align-self: start; 
    padding-left: 10px;
    margin-right: 40px;
}



/* 콘텐츠 */
.cart-select-all {
    display: flex;
}

.cart-product {
    padding: 16px;
}


.cart-select-all label,
.cart-product-top p {
    padding: 0 0 0 16px;
}

.cart-product-top {
    display: flex;
    padding: 0 0 16px;
}

.cart-product-item {
    margin: 0 0 20px 0;
    border-top: #dfe4eb 1px solid;

}


.cart-product-pacakaging {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 16px 0 12px;
}

.cart-product-pacakaging span {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: red solid 1px;
    margin: 3px;
}


.cart-product-pacakaging p {
    font-weight: 600;
    line-height: 22px;
}

.cart-product-pacakaging2 {
    width: 40px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    gap: 5px;
    padding: 4px 8px;
    margin-top: 8px;

}

.cart-product-pacakaging2 p {
    font-size: 12px;
    font-weight: 600;
    // color: #67bfa4;
}



.product-item div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* 상품 */

.product-item-title {
    padding: 5px 0 10px 0;
}

.product-item-title p {
    text-align: left;
    margin-left: 10px;
    flex-grow: 1;
}

.product-item-center {
    display: flex;
    margin: 12px 0 0;
    gap: 20px;
}

.product-item-center img {
    border-radius: 8px;
    width: 64px;
    height: 83px;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.product-item-center2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 83px;
}

.product-item-center2 div:first-child {
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


.quantity-selector {
    display: flex;
    width: 82px;
    height: 20px;
    align-items: center;
    padding: 8px;
    background-color: #eceff3;
    border-radius: 20px;
    justify-content: space-between;
}

.quantity-selector button {
    background: none;
    width: 20px;
    height: 20px;
}

.quantitiy-count {
    text-align: center;
    min-width: 36px;
    margin: 0px 2px;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.cart-layout .decrease {
    position: relative;
    bottom: 4px;
}

.cart-layout .increase {
    position: relative;
    right: 3px;
    top : 1px;
}

.product-bottom {
    margin-left: 30px;
}

.price-summury1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8px 0 0;
    padding: 12px;
    border-radius: 10px;
    background-color: #F2F5F8;
    color: var(--darkblack);
}

.delivery-address {
    padding: 20px 20px 36px;
    margin: 5px 0 16px;

}


.delivery-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    gap: 5px;

}

.delivery-type {
    margin: 0 0 4px;
}

.delivery-bottom p {
    width: 250px;
}

.delivery-bottom button {
    margin: 0 0 0 24px;
    padding: 0 12px;
}

.payment {
    padding: 20px;
    margin: 0 0 16px;
}



.payment p:last-child {
    text-align: right;
}



