/******************************
 * member : 공통 
 ******************************/
/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.member-true-button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  width: 300px;
  height: 54px;
  border-radius: 3px;
  color: rgb(255, 255, 255);
  background-color: rgb(95, 0, 128);
  border: 0px none;
}

.member-none-button {
  display: block;
  padding: 0px 10px;
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 54px;
  border-radius: 3px;
  color: rgb(95, 0, 128);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(95, 0, 128);
  color: purple;
}


/******************************
 * member : Login
 ******************************/
.member-form-box {
  width: 900px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;

  ul {
    text-align: center;

    li {
      padding: 5px;

      // border: 1px solid tomato;
      .loginform-input {
        width: 300px;
        height: 46px;
        padding: 0px 11px 1px 15px;
        border-radius: 4px;
        border: 1px solid rgb(221, 221, 221);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: rgb(51, 51, 51);
        outline: none;
        box-sizing: border-box;
      }
    }

    .login-founder {
      text-align: right;
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
  }

  .member-title-box {
    // border: 1px solid blue;
    text-align: center;
    margin: 90px 0px 30px 0px;

    span {
      font-size: 1.6rem;
      font-weight: bold;
    }
  }
}

/******************************
 * member : Signup 
 ******************************/

.signup-body {
  margin-top: 50px;
  width: 700px;
  margin-left: 200px;

  .signup-title {
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
  }

  .signup-sub-title {
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;

    span {
      color: red;
    }
  }

  .button-box {
    // border: 1px solid green;
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

.signup-form {
  /* border: 1px solid green; */
  width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--color-signup-font);

  ul {
    li {
      width: 700px;
      padding: 20px;

      // height: 44px;
      // border: 1px solid green;
      label {

        display: inline-block;
        font-size: 1.1em;
        font-weight: 700;
        text-indent: 3px;
        margin: 0 0 6px 10px;
        width: 25%;

        // border: 1px solid red;
        span {
          color: red;
        }
      }

      .signup_input {
        border: 1px solid gainsboro;
        border-radius: 8px;
        width: 300px;
        height: 40px;
        padding: 10px;
      }

      .signup-phone-botton {
        border: 1px solid gainsboro;
        width: 150px;
        height: 40px;
        border-radius: 5px;
        margin-left: 5px;
      }

      .member-line-top {
        // padding: 10px 0px;
        border-bottom: 1px solid rgb(51, 51, 51);
      }

      .signup_gender {
        width: 330px;
        display: inline-flex;
        justify-content: space-around;

        input[type=radio] {
          appearance: none;
          border: max(2px, 0.1em) solid gainsboro;
          border-radius: 50%;
          width: 1.5em;
          height: 1.5em;
          // transition: border 0.5s ease-in-out;
        }

        input[type=radio]:checked {
          border: 0.4em solid rgb(95, 0, 128);
        }
      }
    }
  }

  .email-full {
    display: inline-block;
    width: 56%;

    .email-address {
      width: 38%;
      border: 1px solid gainsboro;
      border-radius: 8px;
      height: 40px;
      padding: 10px;
    }

    .email-domain {
      padding: 10px;
      border-radius: 10%;
    }
  }

  .address-full {
    display: flex;

    // display: inline-block;
    // margin-left: 170px;
    label {
      width: 180px;
    }

    div {
      margin-left: 10px;
      margin-bottom: 5px;

      .address-zipcode {
        width: 150px;
        height: 40px;
        display: flex;
        justify-content: space-around;

        // border-radius: 8px;
        .address-zipcode-input {
          // border: 1px solid tomato; 
          width: 150px;
          height: 40px;
          border-radius: 8px;
        }
      }

      .address-text {
        width: 300px;
        border-radius: 8px;
        height: 40px;
        margin-bottom: 5px;
      }

      .address-botton {
        padding: 0px 10px;
        text-align: center;
        width: 130px;
        height: 40px;
        border-radius: 4px;
        color: rgb(95, 0, 128);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(95, 0, 128);
      }

      p {
        margin: 10px;
      }

    }

  }

  .phone-full {

    display: flex;

    .signup-phone-botton {
      border: 1px solid gainsboro;
      width: 150px;
      border-radius: 5px;
      margin-left: 5px;
    }
  }

  .signup_birth {
    display: flex;


    div {
      // border: 1px solid rgb(95, 0, 128); 
      border-radius: 4px;

      .birthdayFrame {
        border: 1px solid rgb(221, 221, 221);

        select {
          border: none;
          width: 105px;
          text-align: center;
          border-radius: 8px;
          height: 35px;
          padding: 10px;
        }
      }
    }
  }

  .member-signup-agree {
    width: 100%;
    padding: 10px 0px 10px 20px;
  }

  .signup-bottom {
    margin-left: 30px;
    display: inline-flex;
    // border: 1px solid tomato;
    height: 380px;

    .signup-bottom-title {
      // border: 1px solid tomato;
      width: 150px;
      font-size: 1.3rem;

      label {
        font-weight: bold;
      }
    }

    .signup-notic {

      // margin-left: 90px;  
      div {
        // border: 1px solid tomato;
        font-size: 1.3rem;
      }

      label {
        // border: 1px solid blue;  
        margin-top: 10px;

      }

      a {
        border: 1px solid blue;
      }

      .label-box {
        // border: 1px solid tomato;
        margin-top: 0px
      }

      .signup-notic-sub {
        // border: 1px solid tomato;
        font-size: x-small;
        padding-left: 50px;
        color: gray;
      }

      .member-radio-title {
        // border: 1px solid tomato; 
        display: flex;
        margin-top: -55px;
        left: 20px;
      }
    }

    .control-container {
      // display: flex;
      // justify-content: center;
      // position: relative; 

      height: 60px;

      .screen-reader {
        // Screen reader-specific styles to hide the checkbox visually
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        border: 0;
        overflow: hidden;
        margin: -1px;
        clip-path: inset(50%);
      }

      .label-box {
        // border: 1px solid salmon;
        position: relative;
        width: 100%;

        .check-icon {
          width: 1.4em;
          height: 1.4em;
          border-radius: 50%;
          background-color: #fff;
          border: 1px solid gray;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);

          &::before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            width: 30%;
            height: 55%;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-70%) rotateZ(40deg);
            border-right: 1.7px solid gray;
            border-bottom: 1.7px solid gray;
          }
        }

        .signup-link {
          // border: 1px solid blue;
          display: block;
          text-align: right;
          color: rgb(95, 0, 128);
        }
      }

      label {
        width: 100%;
        // border: 1px solid blue;
        padding-left: 2.2em;
        position: relative;
        cursor: pointer;
      }

      [type="checkbox"]:checked+.label-box .check-icon {
        border-color: rgb(95, 0, 128);
        background-color: rgb(95, 0, 128);
        ;
      }

      [type="checkbox"]:checked+.label-box .check-icon::before {
        border-color: #fff;
      }
    }

  }

  .member-radio {
    cursor: pointer;
    display: inline;
    width: 24px;
    height: 24px;
    position: relative;
    vertical-align: center;
    margin-right: 8px;
    // border: 1px solid blue;
    // top: 5px;

  }

  .member-radio .radio-input {

    display: none;
    padding: 0;
    margin: 0;
  }


  .member-radio .icon {
    // border: 1px solid blue; 
    position: absolute;
    top: 5px;
    left: 0;
    transition: opacity 0.3s ease;
  }


  .member-radio .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .member-line-bottom {
    border-bottom: 1px solid #d6d6d6bb;
  }
}

/******************************
 * member : My Page 
 ******************************/
.member-content-outline {
  width: 100%;
  background-color: #f2f5f8;

  .member-content {
    width: 1050px;
    position: relative;
    margin: 0px auto;
    .member-my-page{
      display: flex;
      .member-popup{
        width: 370px;
      }
      .member-my-side {
        width: 375px;
        margin: 30px 0 30px 0;
        background-color: #fff;
        border-radius: 8px;
        div{
          height: 50px;
          p{
            margin-bottom: 20px;
          }
          span{ 
            font-size: 1.2rem;
          }
          label{
            font-size: 1.5rem;
          }
        }
        .member-my-side-1{ 
          height: 250px;  
          padding: 50px;
          .member-my-side-point{
            border: 1px solid #d6d6d6bb;
            border-radius: 8px; 
            height: 100px;
            display: flex;
            justify-content: space-around;
            label{
              padding: 5px;
              display: block;
              justify-content: center;
            }
          }
        }
        .member-my-sand{
          // border: 1px solid blue; 
          height: 15px;
          background-color: #f2f5f8;
        }
        .member-my-side-2{
          height: 300px;  
          padding: 30px 50px 50px 50px;
        }
        .member-my-side-3{ 
          height: 250px; 
          padding: 50px;
        }
      }
    }
  }
}