/*****************
공통
***************/
/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}


.member-true-button{
  display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: rgb(95, 0, 128);
    border: 0px none;
}

.member-none-button{
  display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}


/*******************
Login
**********************/
.form-box{
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
  ul{
      text-align: center;
      li{
          padding: 5px;
          // border: 1px solid tomato;
          .loginform-input{
            width: 300px;
            height: 46px;
            padding: 0px 11px 1px 15px;
            border-radius: 4px;
            border: 1px solid rgb(221, 221, 221);
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            color: rgb(51, 51, 51);
            outline: none;
            box-sizing: border-box;
          }
      }
      .login-founder{
          text-align: right;
          font-size: 12px;
          padding: 0;
          margin: 0;
      }
  }
  .member-title-box{
      // border: 1px solid blue;
      text-align: center;
      margin: 90px 0px 30px 0px;
      span{
          font-size: 1.6rem;
          font-weight: bold;
      }
  } 
} 
/*******************
signup
**********************/
.member-signup{
  border: 1px solid green;
}
.signup-body{
  margin-top: 50px;  
  width: 700px;
  margin-left: 200px;
  .signup-title{
    margin-bottom: 50px;
    font-size: 28px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);
  };
  .signup-sub-title{ 
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;
  }
}
.signup-form {
  /* border: 1px solid green; */
  width: 700px;
  margin: 0 auto;
  margin-bottom: 50px;
  color: var(--color-signup-font); 
  }
  ul{
    li{
        width: 700px;
        padding: 20px;
        height: 44px;
        label{
          display: inline-block;
          font-size: 1.1em;
          font-weight: 700;
          text-indent: 3px;
          margin: 0 0 6px 10px;
          width: 25%;
          // border: 1px solid red;
        }
        
        .signup_input{
            border: 1px solid gainsboro;
            border-radius: 8px;
            width: 300px;
            height: 20px;
            padding: 10px;
        } 
    .member-additional{
      // padding: 10px 0px;
      border-bottom: 1px solid rgb(51, 51, 51);
    } 
}}
.signup-form{
  
}

.email-full{ 
  display: inline-block;
  width: 56%; 
  .email-address{
    width: 50%;
    border: 1px solid gainsboro;
    border-radius: 8px;
    height: 20px;
    padding: 10px;
  }
  .email-domain{
    padding: 10px;
    border-radius: 10%;
  }
}

.phone-full{
  // border: 1px solid red;
  display: flex; 
}
.address-botton{
    display: inline-block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 320px;
    height: 44px;
    border-radius: 4px;
    color: rgb(95, 0, 128);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(95, 0, 128);
}  
.signup_birth{
  display: inline-block;
}
.signup_birth 
{
  display: flex;
    div{
      border: 1px solid gainsboro;
      border-radius: 4px;
      input{ 
        border: none;
        justify-content: space-around;
        width: 80px;
        justify-content: center;  
        border-radius: 8px;
        height: 20px;
        padding: 10px;
      }  
    } 
}

.member-signup-agree{  
  display: inline-flex;
  width: 100%;
  padding: 10px 0px 10px 20px;
}
